/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/** **/
   body, html {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        color: #222;
        background-color: #eeeeee;
  }
    a {
     font-weight: 700;
     color: #333;
     text-decoration: none;
      }

   p {
     font-size: 1em;
     line-height: 1.4;
   }

img {
  width: 100%;
  height: auto;

}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 1.3125em;
  line-height: 1.1;
}

h2 {
  font-size: 1em;
  line-height: 1;
}

figure {
  margin: 0;
}

.btn {
  background-color: #b21e49;
  border: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
  box-shadow: 2px 2px 0 #d19aaa;/**sample #DADADA;**/
  height: 2.5em;
  width: 100%;
  display: block;
}
input.btn {
  background-color: #ff1256;
}

.last-item {
     border-bottom: none !important;
}
.current-link {
  color: #ff1258;
}
/******Home moblie styling****************/
/*===============Header==============*/

.main-header {
  width: 100%;
  background-color: #eee;
  margin: auto;
}
.logo {
  width: 100%;
  margin: 0 auto;
  /**background-color: #222222;not in sample**/
}
.logo img {
  width: 100%;
}
nav {
  width: 100%;
  background-color: #dddddd;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
   text-align: center;
   padding: 15px 0;
   border-bottom: 1px solid #bdbdbd;/**ccc*/
  }

  nav ul li a {
    font-size: 1.125em;
    text-transform: uppercase;
    }


   i {
    padding-right: 10px;
  }


/*** =============Main Content ===============***/
main {
  width: 96%;
  padding: 0 2%;
  margin: 20px auto;
  max-width: 960px;
  clear: both;
}
/*** ============= Featured News Story ===============***/
/**.hero-area {}**/

.top-story {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
}
.top-image {
  width: 100%;
  margin: 0;

}
.top-image img {
  width: 100%;
  /**border: 1px solid black;** not in sample*/
}
/*** ============= Sidebar ===============***/
.sidebar {
  width: 100%;
}

.sidebar-newsletter {
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid #bdbdbd;
}

.sidebar-newsletter input {
  width: 100%;
  box-sizing: border-box;
}

.sidebar-newsletter input[type="text"] {
  margin-bottom: 10px;
  padding: 5px 0;
}

.sidebar-about-us, .sidebar-faqs {
  display: none;
}

/*** ============= News Feed ===============***/
.feed {
  width: 100%;
}
.feed p {
  display: none;
}
.feed-item {
  clear:both;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 15px;
}
.feed-type {
  text-transform: uppercase;
  font-size: 0.8em;
}

.feed-item h2 {
    margin: 0;
}
.feed-item h2 a {
   color: #222;
}

.feed-img {
  float:left;
  margin: 0;
  width: 45%;
  padding-right: 3%;
  /**border: 1px solid #bdbdbd;not in sample**/
}



/************About Mobile Styling*******************/
.contact-info {
  width: 100%;
  }

.contact-info ul {
  padding: 0;
  list-style: none;
}

.contact-info ul li {
  display: inline-block;
  vertical-align: top;
  }

.map-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  border: 2px solid #bdbdbd;
}

.map-container iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  }

.strong {
  font-weight: 700;
  }

  .mission {
    width: 100%;
  }

.team-member {
  clear: both;
  padding: 15px 0;
  }

  .team-img {
    width: 40%;
    padding-bottom: 40%;
    float:left;
    margin-right: 20px;
    border: 1px solid #bdbdbd;
  }
  .team-name {
     margin-bottom: 0;
  }

  .team-title {
     margin-top: 0;
  }
  .team-description {
    display: none;
  }

  #team-img-jack {
    background: url('../img/jack.png') center no-repeat;
    background-size: cover;
    }
  #team-img-lana {
    background: url('../img/lana.png') center no-repeat;
    background-size: cover;
  }
  #team-img-willow {
    background: url('../img/willow.png') center no-repeat;
    background-size: cover;
  }



/*********FAQ mobile styling*****/ /**not in sample**/

.faqs-item {
  border-bottom: 1px solid #bdbdbd;
  }

.faqs-item h2 {/** h3?**/
  font-weight: 400;
  }

/*** ============= Footer ===============***/

footer {
  width: 100%;
  margin: auto;
  border-top: 1px solid #bdbdbd;
  margin-top: 20px;
  padding-top: 20px;
  clear: both;
}

.footer-logo {
  width: 47.5%;
  margin: auto;
  /**background-color: #222222; not in sample**/
  /**padding-top: 1em; not in sample**/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /*========== tablet styles here ===================== */

    /*************** header ****************************/
    .main-header  {
      margin: auto;
      padding: 0 3%;
      width: 100%;
      background-color: #dddddd;
      }

    .main-header .header-wrapper {
      max-width: 960px;
      margin: 0 auto;
      width: 94%
    }

    .logo {
        width: 40%;
        float: left;
    }

    .logo img {
      max-width: 312px;
    }
     nav {
        width: 60%;
        float: left;

    }
    nav ul {
      margin: 0;
      padding: 27px 0;
      text-align: center;
    }

    nav ul li {
       display:inline;
       padding: 0 2%;
       border: none;
       position: relative; /**why?**/
     }

     h1 {
       font-size: 1.5em;
       line-height: .95;
     }


/******************* Featured Story **********************/
.top-story {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 40px;
  }

.top-image {
  width: 57%;
  float: left;
  padding-right: 3%;
}
.top-info {
  width: 40%;
  float: left;
}

/******************* Sidebar ******************/
.sidebar {
  clear: both;
  width: 37%;
  float: right;
}

.sidebar-about-us, .sidebar-faqs {
  display: block;
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid #bdbdbd;
}

/******************** News Feed ***************************/
.feed {
  width: 60%;
  float: left;
  border-right: 1px solid #bdbdbd;
}
 h2 {
  font-size:1.125em;
  line-height: 1.1;
}

.feed-img {
  width: 35%;
}

.feed-item {
  padding-right: 20px;
}

/**.feed-info {
  width: 57%;
  }**/



/********************* About Us *****************/

/**sample only includes contact-into width**/

.contact-info {
  width: 40%;
  float: left;
  }

.map-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  width: 58%;
  float: left;
  border: 1px solid #333;
  margin-bottom: 40px;
  margin-top: 30px;
}
.map-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mission {
  clear: both;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  padding: 15px 0;
}

.team {
  padding-top: 15px;
}

.team-member {
  padding: 15px 0;
}
.team-img {
  width: 20%;/** 14%?**/
  padding-bottom: 20%; /** 14%? **/
  margin-right: 10%;
}

.team-name {
  font-size: 1.125em;
  line-height: 1.125;
}

/************ footer**************/
.footer-logo {
  width: 25%;/**30**/
  margin: auto;
}

}
/**==================== Desktop Styles================================**/
@media only screen and (min-width: 940px) {

  h2, .strong {
    font-size: 1.3125em;
  }
  h1 {
    font-size: 1.875em;

  }

.main-header{
  background-color: #dddddd;
}
/** featured story **/

.top-story {
  width: 65%;
  float: left;
  border: none;
  padding-right: 2%;
}

.top-image {
  width: 100%;
  padding-bottom: 1em;
}

.top-image img {
  max-width: 620px;
}

.top-info {
  width: 100%;
  float: none;
}
.top-info h1 {
  font-size: 2.25em;

}
/**  sidebar ********************/

.sidebar {
  clear: none;
  width: 30%;
  float: right;
  border-left: 1px solid #bdbdbd;
}

.sidebar-newsletter,
.sidebar-about-us,
.sidebar-faqs {
  padding: 0 20px 20px 20px;
}

.sidebar-faqs {
  border: none;
}

/******************* News Feed *****************/
.feed {
  width: 100%;
  clear: both;
  float: none;
  padding-top: 20px;
  border-right: none;
  border-top: 1px solid #bdbdbd;
  }

  .feed-info p {
    display: block;
    margin-top: 0;
  }

  .feed h2 {
    margin: 0;
  }

.feed-img {
  width: 20%;
}


/*************** About ************************//**missing**/

.contact-info ul li {
  font-size: 1.3125em;
}
.team-member {
  padding: 15px 0;
}

.team-img {
  margin-right: 5%;
}
.team-name {
  margin-top: 0;
}
.team-description {
  display: block;
}

/*************** Footer ***********************/
.footer-logo {
  width: 16%;/**20**/
}
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
